<div class="col-1">
	<h2>Welkom</h2>
</div>

<div class="col-2">
	<p>
		Actief sinds: <%= current_user.created_at.strftime "%d/%m/%Y %H:%M" %>
	</p>

	<ul>
		<% if current_user.name %>
			<li>
				<%= current_user.name %>
			</li>
		<% end %>
		<li>
			<%= current_user.email %>
		</li>
		<li>
			<%= current_user.username %>
		</li>
	</ul>
</div>

<div class="col-2">
	<p>
		Adres gegevens
	<p>

	<ul>
		<% if current_user.street && current_user.house_number %>
			<li>
				<%= current_user.street %> <%= current_user.house_number %>
			</li>
		<% end %>

		<% if current_user.zip_code && current_user.residence %>
			<li>
				<%= current_user.zip_code %> <%= current_user.residence %>
			</li>
		<% end %>
	</ul>
</div>

<div class="col-1">
	<%= link_to "Profiel aanpassen", edit_user_path, :class => 'btn btn-default' %>
</div>