<%= error_messages_for(@boat) %>

<%= form_for @boat do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, :class => 'form-control' %>
	</div>

	<%= f.submit nil, :class => 'btn btn-default', data: { disable_with: 'Aan het versturen...' } %>

<% end %>
